<% provide(:title, 'Sign up as a Lender or Borrower!') %>

<div class="row">
  <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-offset-1">
    <h1>Lender</h1>
    <%= simple_form_for @lender do |f| %>

    <%= f.input :first_name %>


    <%= f.input :last_name %>


    <%= f.input :email %>


    <%= f.input :password %>


    <%= f.input :money  %>
    <br>

    <%= f.submit 'Register', :class => 'btn btn-success'  %>
    <% end %>
    <%= link_to "Already a Lender?", new_session_path %>
  </div>

  <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-offset-1 ">
    <h1>Borrower</h1>
    <%= simple_form_for @borrower do |f| %>

      <%= f.input :first_name %>


      <%= f.input :last_name %>


      <%= f.input :email %>


      <%= f.input :password %>


      <%= f.input :money_purpose %>


      <%= f.input :description %>


      <%= f.input :money_needed %>

      <br>

      <%= f.submit "Register", :class => "btn btn-success" %>
    <% end %>
    <%= link_to "Already a Borrower?", new_session_path %>
  </div>
</div>
