<!DOCTYPE html>
<html>
<head>
  <title>MoneyLenderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <% if flash[:errors] %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <%= flash[:errors] %>
        </div>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div id="success_explanation">
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      </div>
    <% end %>

      <%= yield %>




</body>
</html>
